<%- include blogheader %>
<%- include blogsubheader %>
<!-- CONTENT
================================================== -->
<div class="row" style="margin-top: 30px">
  <div class="twelve columns noleftmargin">
    
    <!-- MAIN CONTENT -->
    <div class="eight columns noleftmargin">
      
      <!-- 文章区显示 -->
      <% posts.forEach(function(post, index){ %>
      <div class="blog--post__context">
        <div class="circledate">
          <div class="textcircle">
            - <%= post.time.date.getDate() %>- <br/> <%= post.monthToStr %> <br/><%= post.time.year%>
          </div>
        </div>
        <h4 style="color: #390"><%= post.title %></h4>
        <!-- 分割线 -->
        <div class="dots blogdots"></div>
        <!-- 正文内容 -->
        <p>
        <% var tmpPost = post.post.toString().replace(/<[^>]+>/g,'').substring(0,200) %>
        <%= tmpPost %>... <a href="/p/<%= post._id %>" class="saymore">Read more</a>
        </p>
        <div class="hr"></div>
      </div>
      <% }) %>
      
      <!-- 分页区 暂时不做 留坑 -->
    </div>
    
    <!-- SIDEBAR -->
    <div class="four columns">
      
      <!-- Recent Comments -->
      <h6 class="sidebartitle">RECENT COMMENTS</h6>
      <div class="avatar">
        <img src="images/temp/author1.png" alt="">
      </div>
      <p>hehe</p>
      <div class="avatar">
        <img src="images/temp/author2.png" alt="">
      </div>
      <p>haha</p>
      <div class="avatar">
        <img src="images/temp/author3.png" alt="">
      </div>
      <p>xixi</p>
      <br class="clear"/>
      
      <!-- Tag part -->
      <h6 class="sidebartitle">ALL TAGS</h6>
      <% var tags = [] %>
      <% posts.forEach(function(post, index){ %>
      <% var perPost = posts[index] %>
      <% post.tags.forEach(function(tag, index){ %>
      <% if (tag) { %>
      <% if (tags.indexOf(tag) === -1) { %>
      <a class="tags" href="#"><%= tag %></a>
      <% tags.push(tag) %>
      <% } %>
      <% } %>
      <% }) %>
      <% }) %>
      <br class="clear"/>
      <br/><br/>
      <!-- MOST POPULAR POST -->
      <h6 class="sidebartitle">POPULAR POSTS</h6>
      <% popPosts.forEach(function(popPost, index){ %>
      <% if (index < 4) { %>
      <p><%= popPosts[index].time.day %></p>
      <p><a href="/p/<%= popPost._id %>"><%= popPosts[index].title %></a></p>
      <% } %>
      <% }) %>
    </div>
  </div>
</div>
<div class="hr">
</div>
<%- include blogfooter %>